{% extends 'base.html' %}


{% block title %}
  About Us - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Why we do what we do</li>
{% endblock %}

{% block content %}
<div class="content" style="padding: 3%;">
  <p>Welcome to FineLit, your one stop shop for everything personal finance. Our goal is to ensure that every person is capable of achieving financial freedom and the future that they want. We are a group of young college students and graduates who are working together to create as many free and reduced cost options as possible for people seeking financial help. Our goal isn’t to get rich or to build an empire, but simply to create a strong community of citizens who are aware and who will ensure that future generations don’t endure the economic circumstances that we have created.</p>
  <h3>We are currently working on a couple major projects:</h3>
  <p>First we want to introduce a popular method of education called ‘digital storytelling’, which employs creative videos and video making as a primary method of learning for complicated subjects like finance.</p>
  <p>Second, we want to create free and affordable online courses on personal finance to make up for the failures of our public institutions.</p>
  <p>Third, we are working to create a book full of curricula on personal fiance topics for educators across the country.</p>
  <p>And much more! We are always thinking of new creative ways to give back, so be sure to stay on the look out.</p>
</div>
{% endblock %}