{% extends 'base.html' %}

{% block head %}
<meta name="keywords" 
content="calculator, investment calculator, loan calculator, interest calculator, financial literacy course, investment return calculator, investment interest calculator, return on investment, return on investment calculator, mortgage calculator">
{{ block.super }}
{% endblock %}


{% block title %}
  Calculators - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Loan and Investment Calculators</li>
{% endblock %}

{% block content %}
<div id='calculator' >
  <h1 class="calc-title"> Loan Calculator</h1>
  <div id="loan_src">

      <form name='loan_form'>
          <table class="table-responsive-sm">

              <tr>
                  <td>Loan Amount:<br/><span style="font-size: 75%">Ex. $30,000.00 = 30000</span></td>
                  <td><div class="input"><input type="text" name="loan_amt" size="10" placeholder="15000"/></div></td>
              </tr>
              <tr>
                  <td>Number of Periods: <br/><span style="font-size: 75%">Ex. 3 Yrs = 3</span></td>
                  <td><input class="input" type="text" name="periods" size="10" placeholder="3"/></td>
              </tr>
              <tr>
                  <td>Interest Rate: <br/><span style="font-size: 75%">Ex. 4.5% APR = 4.5</span></td>
                  <td><input class="input" type="text" name="int_rate" size="10" placeholder="4.0"/></td>
              </tr>
              <tr>
                  <td>Extra Payment:</td>
                  <td><input class="input" type="text" name="extra_pmt" size="10" placeholder="50"/></td>
              </tr>
              
              <tr>
                  <td><div class="button"><input type="button" onclick="validate()" value="Calculate"/></div></td>
                  <td><div class="button"><input type="button" onclick="startOver()" value="Start Over"/></div></td>
              </tr>
          </table>
      </form>

  </div>
  <div id='loan_info'>
      <table class="table-responsive-sm">

          <tr>
              <td>Loan Amount:</td>
          </tr>
          <tr>
              <td>Number of Periods:</td>
          </tr>
          <tr>
              <td>Interest Rate:</span></td>
          </tr>
          <tr>
              <td>Extra Payment:</span></td>
          </tr>
          <tr>
              <td>Payment per Period:</td>
          </tr>
          <tr>
              <td>Payment with Extra:</td>
          </tr>
      </table>
  </div>

  <div id='table_header'>
      <table cellpadding="10" border="2.25px" class="table-responsive-sm calc_table">
          <tr>
              <td align="center"><b>Payment</b></td>
              <td align="center"><b>Principal</b></td>
              <td align="center"><b>Interest</b></td>
              <td align="center"><b>Total Interest</b></td>
              <td align="center"><b>Balance</b></td>
          </tr>

      </table>
  </div>

  <div id='table' style="font-size: 1rem;">
      <table cellpadding="10" border="2.25px" class="table-responsive-sm">
          <tr class="calc_table">
              <td align="center"><b>Payment</b></td>
              <td align="center"><b>Principal</b></td>
              <td align="center"><b>Interest</b></td>
              <td align="center"><b>Total Interest</b></td>
              <td align="center"><b>Balance</b></td>
          </tr>
      </table>
  </div>
</div>

<div id='inv_calculator'>
    <h1 class="calc-title"> Investment Calculator</h1>
    <div id="inv_src">
  
        <form name='inv_form'>
            <table class="table-responsive-sm">
  
                <tr>
                    <td>Loan Amount:<br/><span style="font-size: 75%">Ex. $30,000.00 = 30000</span></td>
                    <td><div class="input"><input type="text" name="inv_amt" size="10" placeholder="15000"/></div></td>
                </tr>
                <tr>
                    <td>Number of Periods: <br/><span style="font-size: 75%">Ex. 3 Yrs = 3</span></td>
                    <td><input class="input" type="text" name="inv_periods" size="10" placeholder="3"/></td>
                </tr>
                <tr>
                    <td>Interest Rate: <br/><span style="font-size: 75%">Ex. 8.00% yearly return = 8</span></td>
                    <td><input class="input" type="text" name="rtrn_rate" size="10" placeholder="8.0"/></td>
                </tr>
                <tr>
                    <td>Extra Contribution: <br/><span style="font-size: 75%">Monthly Contributions</span></td>
                    <td><input class="input" type="text" name="extra_cont" size="10" placeholder="50"/></td>
                </tr>
                
                <tr>
                    <td><div class="button"><input type="button" onclick="validateInv()" value="Calculate"/></div></td>
                    <td><div class="button"><input type="button" onclick="startOverInv()" value="Start Over"/></div></td>
                </tr>
            </table>
        </form>
  
    </div>
    <div id='inv_info'>
        <table class="table-responsive-sm">
  
            <tr>
                <td>Initial Investment:</td>
            </tr>
            <tr>
                <td>Number of Periods:</td>
            </tr>
            <tr>
                <td>Return Rate:</span></td>
            </tr>
            <tr>
                <td>Total Contributions:</span></td>
            </tr>
            <tr>
                <td>Total Return:</td>
            </tr>
            <tr>
                <td>Ending Balance:</td>
            </tr>
        </table>
    </div>
  
    <div id='inv_table_header'>
        <table cellpadding="10" border="2.25px" class="table-responsive-sm calc_table">
            <tr>
                <td align="center"><b>Amount</b></td>
                <td align="center"><b>Int. Earned</b></td>
                <td align="center"><b>Contributions</b></td>
                <td align="center"><b>Profit</b></td>
                <td align="center"><b>Total</b></td>
            </tr>
  
        </table>
    </div>
  
    <div id='inv_table' style="font-size: 1rem;">
        <table cellpadding="10" border="2.25px" class="table-responsive-sm">
            <tr class="calc_table">
                <td align="center"><b>Amount</b></td>
                <td align="center"><b>Int. Earned</b></td>
                <td align="center"><b>Contributions</b></td>
                <td align="center"><b>Profit</b></td>
                <td align="center"><b>Total</b></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}